%%%===================================================================
%%% Syn - TEST CONFIGURATION FILE
%%%===================================================================

[

%% Syn config
    {syn, [

        %% You can set a callback to be triggered when a process exits.
        %% This callback will be called only on the node where the process was running.

        {registry_process_exit_callback, [syn_registry_SUITE, registry_process_exit_callback_dummy]},

        %% After a net split, when nodes reconnect, Syn will merge the data from all the nodes in the cluster.
        %% If the same Key was used to register a process on different nodes during a net split, then there will be a conflict.
        %% By default, Syn will discard the processes running on the node the conflict is being resolved on,
        %% and will kill it by sending a `kill` signal with `exit(Pid, kill)`.
        %% If this is not desired, you can set the registry_conflicting_process_callback option here below to instruct Syn
        %% to trigger a callback, so that you can perform custom operations (such as a graceful shutdown).

        {registry_conflicting_process_callback, [syn_registry_consistency_SUITE, registry_conflicting_process_callback_dummy]}

    ]}

].
