[{kernel, [
    {logger_level, notice},
    {logger, [
        {handler, default, logger_std_h, #{
            filter_default => log,
            filters => [],
            formatter => {logger_formatter, #{
                legacy_header => true,
                single_line => false
            }}
        }}
    ]}
]}].
