[{kernel, [
    {logger_level, notice},
    {logger, [
        {handler, default, logger_std_h, #{
            filter_default => log,
            filters => [],
            formatter => {logger_formatter, #{
                single_line => false,
                template => [time, " '", node, "' ", level, "\n", msg, "\n"]
            }}
        }}
    ]}
]}].
