{erl_opts, [debug_info]}.
{deps, []}.

{profiles, [
    {test, [
        {deps, [
            {proper, "1.5.0"}
        ]}
    ]},
    {docs, [
        {edoc_opts, [
            {preprocess, true},
            {doclet, edoc_doclet_chunks},
            {layout, edoc_layout_chunks},
            {dir, "_build/default/lib/syn/doc"}]
        }
    ]}
]}.
